spring.application.name={{ getv "/spring.application.name" }}
spring.profiles.active={{ getv "/spring.profiles.active" }}
rest.client.connection.timeout={{ getv "/rest.client.connection.timeout" }}
rest.read.timeout={{ getv "/rest.read.timeout" }}
rest.connection.request.timeout={{ getv "/rest.connection.request.timeout" }}
spring.banner.charset={{ getv "/spring.banner.charset" }}
spring.banner.location={{ getv "/spring.banner.location" }}
spring.datasource.url={{ getv "/spring.datasource.url" }}
spring.datasource.username={{ getv "/spring.datasource.username" }}
spring.datasource.password={{ getv "/spring.datasource.password" }}
spring.datasource.driver-class-name={{ getv "/spring.datasource.driver-class-name" }}
spring.datasource.validationQuery={{ getv "/spring.datasource.validationQuery" }}
spring.jpa.show-sql={{ getv "/spring.jpa.show-sql" }}
spring.jpa.properties.hibernate.dialect={{ getv "/spring.jpa.properties.hibernate.dialect" }}
spring.jpa.properties.hibernate.format_sql={{ getv "/spring.jpa.properties.hibernate.format_sql" }}
spring.jpa.hibernate.ddl-auto={{ getv "/spring.jpa.hibernate.ddl-auto" }}
spring.servlet.multipart.enabled={{ getv "/spring.servlet.multipart.enabled" }}
spring.servlet.multipart.file-size-threshold={{ getv "/spring.servlet.multipart.file-size-threshold" }}
spring.servlet.multipart.max-file-size={{ getv "/spring.servlet.multipart.max-file-size" }}
spring.servlet.multipart.max-request-size={{ getv "/spring.servlet.multipart.max-request-size" }}
files.upload-dir={{ getv "/files.upload-dir" }}
nginx.scheme={{ getv "/nginx.scheme" }}
nginx.host={{ getv "/nginx.host" }}
nginx.port={{ getv "/nginx.port" }}
nginx.path={{ getv "/nginx.path" }}
content.scheme={{ getv "/content.scheme" }}
content.host={{ getv "/content.host" }}
content.port={{ getv "/content.port" }}
content.path={{ getv "/content.path" }}
hls.enabled={{ getv "/hls.enabled" }}
hls.kafka.topic={{ getv "/hls.kafka.topic" }}
hls.kafka.bootstrap.servers={{ getv "/hls.kafka.bootstrap.servers" }}
kafka.servers.autocommit={{ getv "/kafka.servers.autocommit" }}
kafka.servers.timeout={{ getv "/kafka.servers.timeout" }}
kafka.servers.commitinterval={{ getv "/kafka.servers.commitinterval" }}
hls.kafka.servers.groupid={{ getv "/hls.kafka.servers.groupid" }}
kafka.servers.offsetreset={{ getv "/kafka.servers.offsetreset" }}
hls.profiles.count={{ getv "/hls.profiles.count" }}
hls.vprofile={{ getv "/hls.vprofile" }}
hls.vcodec={{ getv "/hls.vcodec" }}
hls.format={{ getv "/hls.format" }}
hls.resolution={{ getv "/hls.resolution" }}
hls.video.bitrate={{ getv "/hls.video.bitrate" }}
hls.fps={{ getv "/hls.fps" }}
hls.acodec={{ getv "/hls.acodec" }}
hls.audio.bitrate={{ getv "/hls.audio.bitrate" }}
hls.audio.chanel.layout={{ getv "/hls.audio.chanel.layout" }}
hls.aspectratio={{ getv "/hls.aspectratio" }}
hls.vlevel={{ getv "/hls.vlevel" }}
gps.event.type={{ getv "/gps.event.type" }}
hls.supported.video.extensions={{ getv "/hls.supported.video.extensions" }}
content.metadata.prefix={{ getv "/content.metadata.prefix" }}
endpoints.sensitive={{ getv "/endpoints.sensitive" }}
endpoints.actuator.enabled={{ getv "/endpoints.actuator.enabled" }}
management.security.enabled={{ getv "/management.security.enabled" }}
management.endpoint.metrics.enabled={{ getv "/management.endpoint.metrics.enabled" }}
management.endpoints.web.exposure.include={{ getv "/management.endpoints.web.exposure.include" }}
spring.cloud.consul.enabled={{ getv "/spring.cloud.consul.enabled" }}
spring.cloud.consul.host={{ getv "/spring.cloud.consul.host" }}
spring.cloud.consul.port={{ getv "/spring.cloud.consul.port" }}
spring.cloud.consul.discovery.register={{ getv "/spring.cloud.consul.discovery.register" }}
management.metrics.tags.application={{ getv "/management.metrics.tags.application" }}